<html>

    <head>
        <style>

        </style>
    </head>

    <body>
        <h1>Resultado de validación de datos</h1>
        <hr>
        <div>
            <!-- Tabla de datos  -->
            <table>
                <tbody>
                    <tr>
                        <td>
                            Fecha y hora de carga: 11/11/2022 - 3:30 PM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Número de radicado: Numero_radicado
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tipo de archivo: Tipo de archivado
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Resultado validación estructura: Exitoso
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <span>Puede consultar el informe completo ingresando al modulo Novedades</span>
            <br>
            <button>Ver detalles</button>

        </div>
    </body>


</html>