<html>
    <head>
        <style>
            .contenedor{
                display: block;
                width: 90%;
                max-width: 700px;
                margin: 0 auto;
            }
            .cabecera{
                width: 100%;
                height: 100px;
                padding: 17px 20px;
            }
            .logo{
                display: block;
                width: 200px;
                margin: 0 auto;
            }
            .cuerpo{
                display: block;
                width: 100%;
                padding: 17px 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            /* fuentes */
            .primario{
                color: #00a3dd;
            }
            .secundario{
                color: #39316b;
            }
            .gris{
                color: #666465;
            }
            .negrita{
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="contenedor">
            <div class="cabecera">
                <div class="logo">
                    <img src="https://novafianza.com/correo/logo.png" alt="novafianza">
                </div>
            </div>
            <div class="cuerpo">
                <h2 class="primario">Estimado(a): <small>{{ nombre }}</small></h2>
                <p class="gris">Usted ha solicitado el restablecimiento de su contraseña en el portal de autogestión  de Novafianza S.A.S</p>
                <span class="secundario negrita">Nueva contraseña provisional: </span><span class="gris">{{ clave }}</span><br>
                <p class="gris">Una vez ingreses, debes realizar el cambio de la contraseña asignada por seguridad</p>
                <h3 class="primario">Atentamente.</h3>
                <img src="https://novafianza.com/correo/logo.png" alt="" width="140px">
            </div>
        </div>
    </body>
</html>