<html>
    <head>
        <style>
            .contenedor{
                display: block;
                width: 90%;
                max-width: 700px;
                margin: 0 auto;
            }
            .cabecera{
                width: 100%;
                padding: 17px 20px;
                background-color: #00a3dd
            }
            .logo{
                display: block;
                width: 200px;
                margin: 0 auto;
            }
            .cuerpo{
                display: block;
                width: 100%;
                padding: 17px 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .pie-de-pagina{
                display: block;
                width: 100%;
                padding: 30px 20px;
            }
            .pie-de-pagina table td{
                vertical-align: middle;
                padding: 10px;
            }
            .informacion{
                
            }

            /* fuentes */
            .primario{
                color: #00a3dd;
            }
            .secundario{
                color: #39316b;
            }
            .gris{
                color: #666465;
            }
            .negrita{
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="contenedor">
            <div class="cabecera">
                <div class="logo" style="width: 300px;">
                    <img width="140px" src="https://novafianza.com/correo/logo-blanco.png" alt="novafianza">
                </div>
            </div>
            <div class="cuerpo">
                <h2 class="primario">Estimado(a): <small>{{ nombre }}</small></h2>
                <p class="gris">Usted ha solicitado el restablecimiento de su contraseña en el portal de autogestión  de Novafianza S.A.S</p>
                <span class="secundario negrita">Nueva contraseña provisional: </span><span class="gris">{{ clave }}</span><br>
                <p class="gris">Una vez ingreses, debes realizar el cambio de la contraseña asignada por seguridad</p>
                <h3 class="primario">Atentamente.</h3>
                <img src="https://novafianza.com/correo/logo.png" alt="" width="140px">
            </div>
            <div class="pie-de-pagina">
                <hr style="background-color: #39316b;">
                <table>
                    <tbody>
                        <tr>
                            <td class="gris">
                                Edificio Staff <br> Carrera 43 B # 16 41 oficina 1104
                            </td>
                            <td>
                                <img width="20px" src="https://novafianza.com/correo/3.png" alt="pagina">
                                www.novafianza.com
                            </td>
                            <td class="gris">
                                <img width="20px" src="https://novafianza.com/correo/1.png" alt="pagina">
                                <span>3167488167</span>
                            </td>
                            <td class="gris">
                                <img width="20px" src="https://novafianza.com/correo/2.png" alt="pagina">
                                <span>Novafianza</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>